@charset "UTF-8";

// 参考: https://element-plus.org/zh-CN/component/typography.html
body {
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
  font-size: 14px;
}

// 亲密性, 横向和纵向的距离, 参考: https://ant.design/docs/spec/proximity-cn
.hui-hspace {
  margin-right: 5px;
}

.hui-vspace {
  margin-bottom: 5px;
}

.hui-hskip {
  margin-right: 8px;
}

.hui-hskipp {
  margin-right: 16px;
}

.hui-vskip {
  margin-bottom: 8px !important;
}

.hui-vskipp {
  margin-bottom: 16px !important;
}

.hui-pad {
  padding: 8px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  .list-unstyled();
  margin-top: 0;
  margin-bottom: 0;

  > li {
    display: inline-block;
  }

  > li:not(:last-child) {
    margin-right: 8px;
  }

  &.toolbar {
    li {
      margin-bottom: 8px;
    }
  }

  &.separated {
    li:not(:last-child) {
      margin-right: 5px;
    }

    li + li:before {
      margin-right: 5px;
      color: gray;
    }
  }

  &.by-vbar li + li:before {
    content: '|';
  }

  &.by-slash li + li:before {
    content: '/';
  }

  &.by-gt li + li:before {
    content: '>';
  }

  &.by-middot li + li:before {
    content: '\00b7';
  }
}
